In [73]:
import pandas as pd

In [74]:
path = 'names'

In [75]:
def read_files(years:list):
    df_list = list()
    for item in years:
        df = pd.read_csv(f'{path}\yob{item}.txt', names=['Name', 'Gender', 'Count'])
        df['Year'] = item
        df_list.append(df)
    df_res = pd.concat(df_list)
    return df_res

In [76]:
def count_top3(years:list):
    df = read_files(years)
    df_res = df.groupby(['Name']).sum()
    df_res.sort_values(by='Count', inplace=True, ascending=False)
    return list(df_res.head(3).index)

In [77]:
def count_dynamics(years:list):
    df = read_files(years)
    df_res = df.groupby(['Year', 'Gender']).sum()
    return df_res #[['Gender','Count']]

In [78]:
yobs = [1880]
data_frame = count_top3(yobs)
data_frame

['John', 'William', 'Mary']

In [79]:
yobs = [1900, 1950, 2000]
data_frame = count_top3(yobs)
data_frame

['James', 'John', 'Robert']

In [72]:
yobs = [1900, 1950, 2000]
data_frame = count_dynamics(yobs)
data_frame

               Count
Year Gender
1900 F        299798
     M        150480
1950 F       1713065
     M       1790437
2000 F       1815295
     M       1963202